.design{
    background-color:rgb(180, 165, 165);
    padding: 10px;}
    .butoom{margin-bottom: 20px;}
.todoListStyle{background-color:rgb(215, 244, 255)}
.todoListStyless{background-color:rgb(188, 212, 221);padding: 20px;}
.whiteF{color: white;}
.bgMenu{background-color:rgb(5, 84, 112);padding: 30px;}